
:root{
    --primary-color:#ff216e;
    --mainFont:"Open Sans", sans-serif;
}


body{
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}


.text_primary{
    color: var(--primary-color);
}


.navbar {
    background-color: rgba(0,0,0,0.7); 
}

.navbar .nav-item .nav-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(255, 255, 255);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show{
    color: var(--primary-color);
}

.navbar .navbar-brand{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.hero {
    background: url('./Imag/osaka-img/bg.jpg');
    background-size: cover;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 24px;
}

.about{
    background-image: url("./Imag/osaka-img/light_dot.jpg");
}
.h4{
    color: var(--primary-color);
}
.img-thumbnail{
    width:150px;
    height: 150px;
}
.Portfolio .nav-tabs .nav-item.show .nav-link,
.Portfolio .nav-tabs .nav-link.active {
    color:var(--primary-color); 
}
.Portfolio .nav-link{
    color:black
}
.Portfolio .nav-tabs .nav-link{
    border: none;
}
.Portfolio .nav-tabs{
    border-bottom: none;
}